 {# {% if form %}
    {{form_start (form) }}
        <div class="navbar-search w-5 d-flex" >
        

    {{ form_widget (form.q)}}
    <button class="btn btn-custom-secondary my-2 my-sm-0" type="submit">Search</button>
    </div>
    {{ form_end (form) }} 



{% endif %} #}