<?php

?>
<div class="cookies-banner">
    <div class="text-banner">
        <p>Notre site utilise des cookies pour une meilleure expérience.</p>
    </div>
    <div class="button-banner">
        <a href="#">Ok, J'accepte</a>
    </div>
</div>