<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
        <!-- Left -->
        {# <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div> #}
        <!-- Left -->

        <!-- Right -->

        
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="section_footer">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a href="">Shaanti</a>
                    </h6>
                    <p>
                        <a href="#" class="text-reset">Catégories</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Annuaires</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Qui sommes nous</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset"></a>
                    </p>
                        
                        
                    
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    {% if app.user %}
                    <p>
                        <a href="{{path('profile_index')}}" class="text-reset">Mon compte</a>
                    </p>
                    {% else %}
                    <p>
                        <a href="{{path('app_login')}}" class="text-reset">Mon compte</a>
                    </p>
                    {% endif %}

                    <p>
                        <a href="{{path('app_condition')}}" class="text-reset">Conditions Générales</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" >
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                    Social Media
                    </h6>
                    <p>
                        <a href="https://www.facebook.com/Boooker59" class="text-reset"><i class='fa fa-facebook-square' ></i></a>
                    </p>
                    <p>
                        <a href="" class="text-reset"><i class='fab fa-google'></i></a>
                    </p>
                    <p>
                        <a href="#" class="text-reset"><i class='fab fa-instagram'></i></a>
                    </p>
                    <p>
                        <a href="#" class="text-reset"><i class='fab fa-linkedin'></i></a>
                    </p>
                    <p>
                        <a href="#" class="text-reset"><i class='fab fa-github'></i></a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Wambrechies, 59118, France</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 06 62 84 74 29</p>
                    
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
         <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #9c1bec; color: #fff;">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">Shaanti</a>
    </div>
    <!-- Copyright -->
    </section>
    <!-- Section: Links  -->

   
</footer>
<!-- Footer -->