<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
      <p>Livraison offerte dès 80€ d'achat avec Mondial Relay</p>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <p>Shaanti fait </p>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <p></p>
    </div>
  </div>
</div>