
        <nav>
                        <ul>
                            <li class="menu-deroulant">
                                <a href="#">Yoga</a>
                                <ul class="sous-menu">
                                    
                                    <li><a href="#">Tapis de Yoga</a></li>
                                    <li><a href="#">Sacs à tapis de Yoga</a></li>
                                    <li><a href="#">Accessoires de Yoga</a></li><br>
                                </ul>
                            </li>

                            <li class="menu-deroulant">
                                <a href="#">Meditation</a>
                                <ul class="sous-menu">
                                    <li><a href="sejour/sejourfrance">Zafus, coussins de méditation </a></li>
                                    <li><a href="sejour/sejourfrance">Encens</a></li>
                                </ul>
                            </li>
                            <li class="menu-deroulant">
                                <a href="#">Bien-Être</a>
                                <ul class="sous-menu">
                                    <li><a href="sejour/contact-projet">Soins et Beauté Ayurvédique</a></li>
                                    <li><a href="sejour/contact">Tisanes et thés</a></li>
                                </ul>
                            </li>
                            <li class="menu-deroulant">
                                <a href="#">Livres et musiques</a>
                                <ul class="sous-menu">
                                    <li><a href="sejour/vignette">Livres de Yoga</a></li>
                                    <li><a href="sejour/vignette">Musique de Yoga</a></li>
                                </ul>
                            </li>
                        </ul>
        

            
</nav>
                    
                    

