{% extends 'base.html.twig' %} 

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/condition.css') }}">

{% endblock %}
{% block body %} 

<div class="condition">
    <h1>CONDITIONS GÉNÉRALES DE VENTES ET INFORMATION PRÉCONTRACTUELLE WEBFORCE_VOYAGE</h1>
    
    <p>Les présentes conditions sont applicables en cas de réservation directe d’un Client (voyageur) d’une prestation de voyage auprès de l’organisateur WEBFORCE VOYAGE SAS via son site grand public www.webforcevoyage.fr ou sa centrale de réservation par téléphone.</p>

    <h4>Les conditions respectivement applicables sont les suivantes :</h4>
    <h4>Droits essentiels prévus par la directive (UE) 2015/2302 transposée dans le code du tourisme :</h4>
    <p>La combinaison de services de voyage qui vous est proposée est un forfait au sens de la directive (UE) 2015/2302 et de l‘article L.211-2 II du code du tourisme. Vous bénéficierez donc de tous les droits octroyés par l‘Union européenne applicables aux forfaits, tels que transposés dans le code du tourisme. WEBFORCE_VOYAGE SAS sera entièrement responsable de la bonne exécution du forfait dans son ensemble.
        En outre, comme l‘exige la loi, WEBFORCE_VOYAGE SAS dispose d‘une protection afin de rembourser vos paiements et, si le transport est compris dans le forfait, d‘assurer votre rapatriement au cas où elle deviendrait insolvable.</p>
    <h4>Droits essentiels prévus par la directive (UE) 2015/2302 transposée dans le code du tourisme :</h4>
    <p>Les voyageurs recevront toutes les informations essentielles sur le forfait avant de conclure le contrat de voyage à forfait. L‘organisateur ainsi que le détaillant sont responsables de la bonne exécution de tous les services de voyage compris dans le contrat. Les voyageurs reçoivent un numéro de téléphone d‘urgence ou les coordonnées d‘un point de contact leur permettant de joindre l‘organisateur ou le détaillant. Les voyageurs peuvent céder leur forfait à une autre personne, moyennant un préavis raisonnable et éventuellement sous réserve de payer des frais supplémentaires.
        Le prix du forfait ne peut être augmenté que si des coûts spécifiques augmentent (par exemple, les prix des carburants) et si cette possibilité est explicitement prévue dans le contrat, et ne peut en tout cas pas être modifié moins de vingt jours avant le début du forfait. Si la majoration de prix dépasse 8 % du prix du forfait, le voyageur peut résoudre le contrat. Si l‘organisateur se réserve le droit d‘augmenter le prix, le voyageur a droit à une réduction de prix en cas de diminution des coûts correspondants.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution et être intégralement remboursés des paiements effectués si l‘un des éléments essentiels du forfait, autre que le prix, subit une modification importante. Si, avant le début du forfait, le professionnel responsable du forfait annule celui-ci, les voyageurs peuvent obtenir le remboursement et un dédommagement, s‘il y a lieu.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution avant le début du forfait en cas de circonstances exceptionnelles, par exemple s‘il existe des problèmes graves pour la sécurité au lieu de destination qui sont susceptibles d‘affecter le forfait.
        En outre, les và oyageurs peuvent, à tout moment avant le début du forfait, résoudre le contrat moyennant le paiement de frais de résolution appropriés et justifiables. Si, après le début du forfait, des éléments importants de celui-ci ne peuvent pas être fournis comme prévu, d‘autres prestations appropriées devront être proposées aux voyageurs, sans supplément de prix.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution lorsque les services ne sont pas exécutés conformément au contrat, que cela perturbe considérablement l‘exécution du forfait et que l‘organisateur ne remédie pas au problème.
        Les voyageurs ont aussi droit à une réduction de prix et/ou à un dédommagement en cas d‘inexécution ou de mauvaise exécution des services de voyage.
        L‘organisateur ou le détaillant doit apporter une aide si le voyageur est en difficulté.</p>
    <h4>Droits essentiels prévus par le code de tourisme :</h4> 
    <p>Les voyageurs recevront toutes les informations essentielles sur le service de voyage avant de conclure le contrat de voyage.
        Le prestataire du service ainsi que le détaillant sont responsables de la bonne exécution du service de voyage. Les voyageurs reçoivent un numéro de téléphone d‘urgence ou les coordonnées d‘un point de contact leur permettant de joindre le prestataire de service ou le détaillant.
        Les voyageurs peuvent céder leur service de voyage à une autre personne, moyennant un préavis raisonnable et éventuellement sous réserve de payer des frais supplémentaires.
        Le prix du service de voyage ne peut être augmenté que si des coûts spécifiques augmentent et si cette possibilité est explicitement prévue dans le contrat, et ne peut en tout cas pas être modifié moins de vingt jours avant le début du voyage. Si la majoration de prix dépasse 8 % du prix du service de voyage, le voyageur peut résoudre le contrat. Si le prestataire de service se réserve le droit d‘augmenter le prix, le voyageur a droit
        à une réduction de prix en cas de diminution des coûts correspondants.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution et être intégralement remboursés des paiements effectués si l‘un des éléments essentiels du contrat, autre que le prix, subit une modification importante. Si, avant le début de la prestation, le professionnel responsable annule celle-ci, les voyageurs peuvent obtenir le remboursement et un dédommagement, s‘il y a lieu.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution avant le début de la prestation en cas de circonstances exceptionnelles, par exemple s‘il existe des problèmes graves pour la sécurité au lieu de destination qui sont susceptibles d‘affecter le voyage.
        En outre, les voyageurs peuvent, à tout moment avant le début du voyage, résoudre le contrat moyennant le paiement de frais de résolution appropriés et justifiables. Si, après le début du voyage, des éléments importants de celui-ci ne peuvent pas être fournis comme prévu, d‘autres prestations appropriées devront être proposées aux voyageurs, sans supplément de prix.
        Les voyageurs peuvent résoudre le contrat sans payer de frais de résolution lorsque les services ne sont pas exécutés conformément au contrat, que cela perturbe considérablement l‘exécution du voyage et que le prestataire de service ne remédie pas au problème.
        Les voyageurs ont aussi droit à une réduction de prix et/ou à un dédommagement en cas d‘inexécution ou de mauvaise exécution du service de voyage.
        Le prestataire de service ou le détaillant doit apporter une aide si le voyageur est en difficulté.</p>
        
    <h4> Assurance voyage</h4>    
    <p>Aucune assurance n’est incluse dans les tarifs, sauf mention particulière. Nous conseillons la souscription d’une assurance annulation, responsabilité civile, maladie et accident, lesquelles assurances sont proposées lors de la réservation sur le site www.webforcevoyage.fr.
        Lorsque le Client souscrit une assurance de voyage, le contrat engage uniquement la responsabilité de la compagnie d’assurance. Les revendications devront être adressées directement à l’assureur. Le Client est responsable du respect des obligations stipulées dans le contrat. Les primes d’assurance ne font pas partie du prix du voyage et sont à payer lors de la souscription de l’assurance. Il n’est pas possible de renoncer à un contrat d’assurance, sauf cas de rétractation visé par l’article L. 221-18 du Code de la consommation.</p>
    </div>
{% endblock %}
