header{
  width: 100%;
}

.navbar{
  position:fixed;
 background-color: #f5e6e6;
  z-index: 1;
  width: 100%;
  top: 0;
  /* margin-left: 5rem; */
  font-family: 'Poppins, sans-serif';
} 

.nav-item a{
  color: #9c1bec;

} 

.d-flex{
  flex-direction: row;
}
.navbar-account{
  display: flex;
margin-left:  25rem;
}
.navbar-login{
  display:flex;
}

.navbar-account li{
  margin-left: 15px;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
 }

/* ======================================media queries==========================================*/


@media screen and (max-width: 768px){
  .navbar-account{
    flex-direction: column;
   
    align-items: center;
  }
  
  .navbar-login{
    display:flex;
    flex-direction: column;
  }
}

  
 

  


