


/* ===============================================Nav=================================================================================== */

.navbar {
   /* margin: 0 ; */
   
    height: 95%; 
    width: 100%;
    background-color: #fff;
    display:flex;
    /* border: 1px solid black; */
    font-size: 16px;
    
}




/* ========================Brand====================================== */
.nav-brand img{
    transform: translate(0vw, 1vw);
}
.navbar-brand{
    transform: translate(2vw, -2vw);
    font-family: Italiana ;
    /* position: fixed; */
    
}

.navbar-brand p{
    color: #9c1bec;
    margin-bottom:-2rem;
    padding-left: 15px;
}









.navbar-nav  a{
    font-size:20px;
    color: #9c1bec;
}

    


/***************************************************Menu*********************************************************************************/


/* =================================icons===================================================== */
.nav-icon{
transform: translate(-5vw, 0vw);
display: flex;


}
.nav-icon a{
    color: #9c1bec;
    padding-right: 5px;
    
    flex-direction: row;
   
    text-decoration: none;
     /* flex-direction: row;  */
   
}

.nav-item {
    
    font-size:20px;
}

.bx-md{
     display: flex;
     /* flex-direction: row; */
    
     
} 






/* =================================bouton search======================================== */
.btn-custom-secondary  {
    background-color: #9c1bec;
}

.navbar-search{
    margin-left: 15px;
    transform: translate(1vw, 1vw);
}



.navbar-toggler{
    background-color: #9c1bec;
}


/* ==================================================================================================================================== */

.carousel .carousel-item img {
    max-height: 90vh;
}

